starlette>=0.13.2
aiomysql>=0.0.0
databases>=0.2.6
uvicorn>=0.11.3
sqlalchemy>=1.3.13
aiohttp>=3.6.2
discord.py>=1.1.0
webargs-starlette>=1.2.0
websockets>=8.1
aiob2>=0.1.0
aiodactyl>=0.0.1
aiopes>=0.1.0
aiodathost>=4.0.0
python-multipart
cryptography
git+https://github.com/MertYakupBaykan/aioproxyio.git